<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loading</key>
	<dict>
		<key>loop</key>
		<true/>
		<key>fps</key>
		<integer>3</integer>
		<key>frames</key>
		<array>
			<string>pogstacking_001.png</string>
			<string>pogstacking_002.png</string>
			<string>pogstacking_003.png</string>
		</array>
	</dict>
	<key>unloading</key>
	<dict>
		<key>loop</key>
		<true/>
		<key>fps</key>
		<integer>3</integer>
		<key>frames</key>
		<array>
			<string>pogstacking_003.png</string>
			<string>pogstacking_002.png</string>
			<string>pogstacking_001.png</string>
		</array>
	</dict>
	<key>coin_shimmer</key>
	<dict>
		<key>loop</key>
		<true/>
		<key>fps</key>
		<integer>13</integer>
		<key>frames</key>
		<array>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_002.png</string>
			<string>coin_003.png</string>
			<string>coin_004.png</string>
			<string>coin_005.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
			<string>coin_001.png</string>
		</array>
	</dict>
</dict>
</plist>
