<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>localized_name</key>
		<string>Pog Flyer</string>
		<key>localized_desc</key>
		<string>Default Pog Flyer</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>1000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>1</integer>
		<key>topimg</key>
		<string>flyer_glider</string>
		<key>sideimg</key>
		<string>flyer_glider</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>localized_name</key>
		<string>Flyer Wing</string>
		<key>localized_desc</key>
		<string>Peter&apos;s blue laser flyer</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>1000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>2</integer>
		<key>topimg</key>
		<string>flyer_wing</string>
		<key>sideimg</key>
		<string>flyer_wing</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>localized_name</key>
		<string>Flyer Rang</string>
		<key>localized_desc</key>
		<string>Peter&apos;s boomerang flyer</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>1000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>3</integer>
		<key>topimg</key>
		<string>flyer_rang</string>
		<key>sideimg</key>
		<string>flyer_rang</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>localized_name</key>
		<string>Flyer Frog</string>
		<key>localized_desc</key>
		<string>Froggy cargo carrier</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>1000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>4</integer>
		<key>topimg</key>
		<string>flyer_frog</string>
		<key>sideimg</key>
		<string>flyer_frog</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>localized_name</key>
		<string>Flyer Hornet</string>
		<key>localized_desc</key>
		<string>None will mess with you in this Stinger</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>1000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>5</integer>
		<key>topimg</key>
		<string>flyer_hornet</string>
		<key>sideimg</key>
		<string>flyer_hornet</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>localized_name</key>
		<string>Flyer Blimp</string>
		<key>localized_desc</key>
		<string>Trade in massive volumes</string>
		<key>price</key>
		<integer>100</integer>
		<key>capacity</key>
		<integer>10000</integer>
		<key>speed</key>
		<integer>100</integer>
		<key>multiplier</key>
		<integer>2</integer>
		<key>stormresist</key>
		<integer>10</integer>
		<key>tier</key>
		<integer>6</integer>
		<key>topimg</key>
		<string>flyer_blimp</string>
		<key>sideimg</key>
		<string>flyer_blimp</string>
		<key>load_time</key>
		<integer>90</integer>
	</dict>
</array>
</plist>
