<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flyer_images</key>
	<dict>
		<key>flyer_glider</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aerokit.png</string>
					<key>color1</key>
					<string>flyer_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aerokit.png</string>
					<key>color1</key>
					<string>flyer_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_wing</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_rang</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_hornet</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_frog</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_blimp</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>upgrade_packs</key>
	<array>
		<dict>
			<key>tier</key>
			<integer>1</integer>
			<key>capacity</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>500</integer>
			<key>img</key>
			<string>flyer_aerokit.png</string>
			<key>second_title</key>
			<string>AEROKIT</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>2</integer>
			<key>capacity</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>1000</integer>
			<key>img</key>
			<string>flyer_aerokit.png</string>
			<key>second_title</key>
			<string>CARGOKIT</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>3</integer>
			<key>capacity</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>4</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>2000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>AEROBOOST</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>4</integer>
			<key>speed</key>
			<integer>4</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>4000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>CARGOBOOST</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>4</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>10000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>AEROJET</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>6</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>20000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>CARGOJET</string>
		</dict>
	</array>
	<key>color_packs</key>
	<dict>
		<key>flyer_glider</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_wing</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_rang</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_hornet</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_frog</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_blimp</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
	</dict>
	<key>color_price</key>
	<integer>250</integer>
</dict>
</plist>
