<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flyer_images</key>
	<dict>
		<key>flyer_glider</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer_c1.png</string>
					<key>color2</key>
					<string>flyer_c2.png</string>
					<key>color3</key>
					<string>flyer_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aero.png</string>
					<key>color1</key>
					<string>flyer_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aero.png</string>
					<key>color1</key>
					<string>flyer_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_boost.png</string>
					<key>color1</key>
					<string>flyer_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_boost.png</string>
					<key>color1</key>
					<string>flyer_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_boost.png</string>
					<key>color1</key>
					<string>flyer_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_boost.png</string>
					<key>color1</key>
					<string>flyer_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_boost_c3.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aerokit.png</string>
					<key>color1</key>
					<string>flyer_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_aerokit.png</string>
					<key>color1</key>
					<string>flyer_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_booster.png</string>
					<key>color1</key>
					<string>flyer_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_wing</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_pwing.png</string>
					<key>color1</key>
					<string>flyer_pwing_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing.png</string>
					<key>color1</key>
					<string>flyer_pwing_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing.png</string>
					<key>color1</key>
					<string>flyer_pwing_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing_boost.png</string>
					<key>color1</key>
					<string>flyer_pwing_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing_boost.png</string>
					<key>color1</key>
					<string>flyer_pwing_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing_boost.png</string>
					<key>color1</key>
					<string>flyer_pwing_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_pwing_boost.png</string>
					<key>color1</key>
					<string>flyer_pwing_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_pwing_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_pwing_boost_c3.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_wing_landed.png</string>
					<key>color1</key>
					<string>flyer_wing_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_aerokit.png</string>
					<key>color1</key>
					<string>flyer_wing_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_aerokit.png</string>
					<key>color1</key>
					<string>flyer_wing_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_booster.png</string>
					<key>color1</key>
					<string>flyer_wing_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_booster.png</string>
					<key>color1</key>
					<string>flyer_wing_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_booster.png</string>
					<key>color1</key>
					<string>flyer_wing_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_wing_booster.png</string>
					<key>color1</key>
					<string>flyer_wing_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_wing_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_wing_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_rang</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_rang.png</string>
					<key>color1</key>
					<string>flyer_rang_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_aero.png</string>
					<key>color1</key>
					<string>flyer_rang_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_aero.png</string>
					<key>color1</key>
					<string>flyer_rang_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_boost.png</string>
					<key>color1</key>
					<string>flyer_rang_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_boost.png</string>
					<key>color1</key>
					<string>flyer_rang_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_boost.png</string>
					<key>color1</key>
					<string>flyer_rang_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_boost.png</string>
					<key>color1</key>
					<string>flyer_rang_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_boost_c3.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_rang_landed.png</string>
					<key>color1</key>
					<string>flyer_rang_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_aerokit.png</string>
					<key>color1</key>
					<string>flyer_rang_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_aerokit.png</string>
					<key>color1</key>
					<string>flyer_rang_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_booster.png</string>
					<key>color1</key>
					<string>flyer_rang_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_booster.png</string>
					<key>color1</key>
					<string>flyer_rang_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_booster.png</string>
					<key>color1</key>
					<string>flyer_rang_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_rang_booster.png</string>
					<key>color1</key>
					<string>flyer_rang_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_rang_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_rang_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_hornet</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_hornet.png</string>
					<key>color1</key>
					<string>flyer_hornet_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_aero.png</string>
					<key>color1</key>
					<string>flyer_hornet_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_aero.png</string>
					<key>color1</key>
					<string>flyer_hornet_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_boost.png</string>
					<key>color1</key>
					<string>flyer_hornet_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_boost.png</string>
					<key>color1</key>
					<string>flyer_hornet_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_boost.png</string>
					<key>color1</key>
					<string>flyer_hornet_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_boost.png</string>
					<key>color1</key>
					<string>flyer_hornet_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_boost_c3.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_landed.png</string>
					<key>color1</key>
					<string>flyer_hornet_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_aerokit.png</string>
					<key>color1</key>
					<string>flyer_hornet_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_aerokit.png</string>
					<key>color1</key>
					<string>flyer_hornet_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_booster.png</string>
					<key>color1</key>
					<string>flyer_hornet_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_booster.png</string>
					<key>color1</key>
					<string>flyer_hornet_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_booster.png</string>
					<key>color1</key>
					<string>flyer_hornet_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_hornet_booster.png</string>
					<key>color1</key>
					<string>flyer_hornet_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_hornet_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_hornet_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_frog</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_frog.png</string>
					<key>color1</key>
					<string>flyer_frog_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_aero.png</string>
					<key>color1</key>
					<string>flyer_frog_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_aero.png</string>
					<key>color1</key>
					<string>flyer_frog_aero_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_aero_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_aero_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_boost.png</string>
					<key>color1</key>
					<string>flyer_frog_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_boost.png</string>
					<key>color1</key>
					<string>flyer_frog_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_boost.png</string>
					<key>color1</key>
					<string>flyer_frog_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_boost_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_boost.png</string>
					<key>color1</key>
					<string>flyer_frog_boost_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_boost_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_boost_c3.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_frog_landed.png</string>
					<key>color1</key>
					<string>flyer_frog_landed_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_landed_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_landed_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_aerokit.png</string>
					<key>color1</key>
					<string>flyer_frog_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_aerokit.png</string>
					<key>color1</key>
					<string>flyer_frog_aerokit_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_aerokit_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_aerokit_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_booster.png</string>
					<key>color1</key>
					<string>flyer_frog_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_booster.png</string>
					<key>color1</key>
					<string>flyer_frog_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_booster.png</string>
					<key>color1</key>
					<string>flyer_frog_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_booster_c3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_frog_booster.png</string>
					<key>color1</key>
					<string>flyer_frog_booster_c1.png</string>
					<key>color2</key>
					<string>flyer_frog_booster_c2.png</string>
					<key>color3</key>
					<string>flyer_frog_booster_c3.png</string>
				</dict>
			</array>
		</dict>
		<key>flyer_blimp</key>
		<dict>
			<key>top</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer.png</string>
					<key>color1</key>
					<string>flyer.png</string>
					<key>color2</key>
					<string>flyer.png</string>
					<key>color3</key>
					<string>flyer.png</string>
				</dict>
			</array>
			<key>side</key>
			<array>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
				<dict>
					<key>orig</key>
					<string>flyer_landed.png</string>
					<key>color1</key>
					<string>flyer_landed_color1.png</string>
					<key>color2</key>
					<string>flyer_landed_color2.png</string>
					<key>color3</key>
					<string>flyer_landed_color3.png</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>upgrade_packs</key>
	<array>
		<dict>
			<key>tier</key>
			<integer>1</integer>
			<key>capacity</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>500</integer>
			<key>img</key>
			<string>flyer_aerokit.png</string>
			<key>second_title</key>
			<string>AEROKIT</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>2</integer>
			<key>capacity</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>1000</integer>
			<key>img</key>
			<string>flyer_aerokit.png</string>
			<key>second_title</key>
			<string>CARGOKIT</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>3</integer>
			<key>capacity</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>4</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>2000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>AEROBOOST</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>4</integer>
			<key>speed</key>
			<integer>4</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>4000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>CARGOBOOST</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>4</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>10000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>AEROJET</string>
		</dict>
		<dict>
			<key>tier</key>
			<integer>4</integer>
			<key>capacity</key>
			<integer>6</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>storm</key>
			<integer>1</integer>
			<key>price</key>
			<integer>20000</integer>
			<key>img</key>
			<string>flyer_booster.png</string>
			<key>second_title</key>
			<string>CARGOJET</string>
		</dict>
	</array>
	<key>color_packs</key>
	<dict>
		<key>flyer_glider</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>158</integer>
				<key>colorG</key>
				<integer>18</integer>
				<key>colorB</key>
				<integer>16</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>20</integer>
				<key>colorG</key>
				<integer>39</integer>
				<key>colorB</key>
				<integer>122</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>40</integer>
				<key>colorG</key>
				<integer>155</integer>
				<key>colorB</key>
				<integer>55</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>122</integer>
				<key>colorG</key>
				<integer>37</integer>
				<key>colorB</key>
				<integer>148</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_wing</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>81</integer>
				<key>colorG</key>
				<integer>187</integer>
				<key>colorB</key>
				<integer>239</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>0</integer>
				<key>colorG</key>
				<integer>204</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>216</integer>
				<key>colorG</key>
				<integer>134</integer>
				<key>colorB</key>
				<integer>53</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>145</integer>
				<key>colorG</key>
				<integer>16</integer>
				<key>colorB</key>
				<integer>176</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_rang</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>225</integer>
				<key>colorG</key>
				<integer>45</integer>
				<key>colorB</key>
				<integer>7</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>45</integer>
				<key>colorG</key>
				<integer>187</integer>
				<key>colorB</key>
				<integer>8</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>43</integer>
				<key>colorG</key>
				<integer>67</integer>
				<key>colorB</key>
				<integer>150</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>242</integer>
				<key>colorG</key>
				<integer>229</integer>
				<key>colorB</key>
				<integer>8</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_hornet</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>234</integer>
				<key>colorG</key>
				<integer>188</integer>
				<key>colorB</key>
				<integer>22</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>181</integer>
				<key>colorG</key>
				<integer>184</integer>
				<key>colorB</key>
				<integer>193</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>159</integer>
				<key>colorG</key>
				<integer>226</integer>
				<key>colorB</key>
				<integer>29</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>248</integer>
				<key>colorG</key>
				<integer>212</integer>
				<key>colorB</key>
				<integer>180</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_frog</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>189</integer>
				<key>colorG</key>
				<integer>223</integer>
				<key>colorB</key>
				<integer>114</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>196</integer>
				<key>colorG</key>
				<integer>62</integer>
				<key>colorB</key>
				<integer>62</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>51</integer>
				<key>colorG</key>
				<integer>209</integer>
				<key>colorB</key>
				<integer>166</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>157</integer>
				<key>colorG</key>
				<integer>209</integer>
				<key>colorB</key>
				<integer>211</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>flyer_blimp</key>
		<array>
			<dict>
				<key>name</key>
				<string>orig</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>255</integer>
				<key>colorB</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color1</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color2</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>color3</string>
				<key>colorR</key>
				<integer>255</integer>
				<key>colorG</key>
				<integer>0</integer>
				<key>colorB</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>255</integer>
			</dict>
		</array>
	</dict>
	<key>color_price</key>
	<integer>250</integer>
</dict>
</plist>
