<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>first_0</string>
		<key>desc</key>
		<string>Welcome!\n\nAs a Trader, your goal is to maximize your coins through trades with trade-posts on the map.</string>
		<key>type</key>
		<string>basic</string>
		<key>image</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>first_1</string>
		<key>desc</key>
		<string>This is your Flyer.\n\nSend it to Trade Posts on the Map to buy goods.</string>
		<key>type</key>
		<string>basic</string>
		<key>image</key>
		<string>flyer_landed.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>first_2</string>
		<key>desc</key>
		<string>After that, go home to make money.\n\nThis is your Home.</string>
		<key>type</key>
		<string>basic</string>
		<key>image</key>
		<string>homebase_windy</string>
	</dict>
	<dict>
		<key>id</key>
		<string>scan</string>
		<key>desc</key>
		<string>Press the Scan button to discover Trade Posts around you. </string>
		<key>type</key>
		<string>scan</string>
		<key>pointX</key>
		<real>0.5</real>
		<key>pointY</key>
		<real>0.9</real>
	</dict>
	<dict>
		<key>id</key>
		<string>knob_left</string>
		<key>desc</key>
		<string>Tap or hold here for more game functions</string>
		<key>type</key>
		<string>knob_left</string>
		<key>pointX</key>
		<real>0.2</real>
		<key>pointY</key>
		<real>0.95</real>
	</dict>
	<dict>
		<key>id</key>
		<string>knob_right</string>
		<key>desc</key>
		<string>Tap or hold here for more game functions</string>
		<key>type</key>
		<string>knob_right</string>
		<key>pointX</key>
		<real>0.8</real>
		<key>pointY</key>
		<real>0.95</real>
	</dict>
</array>
</plist>
